# Node.js
webapp/node_modules/
webapp/dist/
webapp/docs/
webapp/out/
webapp/.next/
webapp/build/
webapp/*.log
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/pnpm-debug.log*
webapp/.env*

# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.tox/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.sln
*.sw?
